WCF_Operacoes/Service References/ServicoOperacao/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Somar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:double" />
        <xs:element minOccurs="0" name="valor2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SomarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SomarResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtrair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:double" />
        <xs:element minOccurs="0" name="valor2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtrairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtrairResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divisao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:double" />
        <xs:element minOccurs="0" name="valor2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisaoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:double" />
        <xs:element minOccurs="0" name="valor2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplicacaoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaixaAlta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pTexto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaixaAltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaixaAltaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaixaBaixa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pTexto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaixaBaixaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaixaBaixaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>