WCF_Operacoes/Service References/ServicoOperacao/OperacaoMatematicas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OperacaoMatematicas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOperacao_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9091/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9091/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOperacao_Somar_InputMessage">
    <wsdl:part name="parameters" element="tns:Somar" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Somar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SomarResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Subtrair_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtrair" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Subtrair_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtrairResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Divisao_InputMessage">
    <wsdl:part name="parameters" element="tns:Divisao" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Divisao_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisaoResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Multiplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicacao" />
  </wsdl:message>
  <wsdl:message name="IOperacao_Multiplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacao_CaixaAlta_InputMessage">
    <wsdl:part name="parameters" element="tns:CaixaAlta" />
  </wsdl:message>
  <wsdl:message name="IOperacao_CaixaAlta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaixaAltaResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacao_CaixaBaixa_InputMessage">
    <wsdl:part name="parameters" element="tns:CaixaBaixa" />
  </wsdl:message>
  <wsdl:message name="IOperacao_CaixaBaixa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaixaBaixaResponse" />
  </wsdl:message>
  <wsdl:portType name="IOperacao">
    <wsdl:operation name="Somar">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacao/Somar" message="tns:IOperacao_Somar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacao/SomarResponse" message="tns:IOperacao_Somar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtrair">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacao/Subtrair" message="tns:IOperacao_Subtrair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacao/SubtrairResponse" message="tns:IOperacao_Subtrair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divisao">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacao/Divisao" message="tns:IOperacao_Divisao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacao/DivisaoResponse" message="tns:IOperacao_Divisao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacao/Multiplicacao" message="tns:IOperacao_Multiplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacao/MultiplicacaoResponse" message="tns:IOperacao_Multiplicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaixaAlta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacao/CaixaAlta" message="tns:IOperacao_CaixaAlta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacao/CaixaAltaResponse" message="tns:IOperacao_CaixaAlta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaixaBaixa">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperacao/CaixaBaixa" message="tns:IOperacao_CaixaBaixa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperacao/CaixaBaixaResponse" message="tns:IOperacao_CaixaBaixa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOperacao" type="tns:IOperacao">
    <wsp:PolicyReference URI="#NetTcpBinding_IOperacao_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Somar">
      <soap12:operation soapAction="http://tempuri.org/IOperacao/Somar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtrair">
      <soap12:operation soapAction="http://tempuri.org/IOperacao/Subtrair" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divisao">
      <soap12:operation soapAction="http://tempuri.org/IOperacao/Divisao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacao">
      <soap12:operation soapAction="http://tempuri.org/IOperacao/Multiplicacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaixaAlta">
      <soap12:operation soapAction="http://tempuri.org/IOperacao/CaixaAlta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaixaBaixa">
      <soap12:operation soapAction="http://tempuri.org/IOperacao/CaixaBaixa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOperacao" type="tns:IOperacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Somar">
      <soap:operation soapAction="http://tempuri.org/IOperacao/Somar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtrair">
      <soap:operation soapAction="http://tempuri.org/IOperacao/Subtrair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divisao">
      <soap:operation soapAction="http://tempuri.org/IOperacao/Divisao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacao">
      <soap:operation soapAction="http://tempuri.org/IOperacao/Multiplicacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaixaAlta">
      <soap:operation soapAction="http://tempuri.org/IOperacao/CaixaAlta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaixaBaixa">
      <soap:operation soapAction="http://tempuri.org/IOperacao/CaixaBaixa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperacaoMatematicas">
    <wsdl:port name="NetTcpBinding_IOperacao" binding="tns:NetTcpBinding_IOperacao">
      <soap12:address location="net.tcp://localhost:9090/Mensagem" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/Mensagem</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MIKE-NOT\Mike</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOperacao" binding="tns:BasicHttpBinding_IOperacao">
      <soap:address location="http://localhost:9091/Mensagem" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>